In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn import metrics
from sklearn.model_selection import train_test_split

from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor

from sklearn.tree import DecisionTreeClassifier 
from sklearn.ensemble import RandomForestClassifier
from sklearn import tree
from sklearn.tree import plot_tree, export_text

import statsmodels.api as sm
from statsmodels.tools.eval_measures import rmse
from statsmodels.stats.outliers_influence import variance_inflation_factor
from statsmodels.api import qqplot

In [2]:
tweets = pd.read_csv("tweets.csv")
words = pd.read_csv("wordle.csv")

In [3]:
max(words["occurrence"])

0.0024305603723041

In [3]:
tweets["score"] = tweets["tweet_text"].str[11]
tweets["score"] = pd.to_numeric(tweets['score'], errors='coerce')
tweets.rename(columns={"wordle_id": "day"}, inplace=True)
tweets

,day,tweet_id,tweet_date,tweet_username,tweet_text,score
0,210,1482553374591660037,2022-01-16 03:20:43+00:00,bpszebes,Wordle 210 4/6\n\n⬛⬛🟨🟨⬛\n🟩⬛⬛⬛⬛\n🟩🟩🟨⬛⬛\n🟩🟩🟩🟩🟩,4
1,210,1482553387937898499,2022-01-16 03:20:46+00:00,cruisecoup,Wordle 210 4/6\n\n⬜⬜⬜⬜⬜\n🟩🟩🟨🟨⬜\n🟩🟩⬜🟩🟨\n🟩🟩🟩🟩🟩,4
2,210,1482553422276698113,2022-01-16 03:20:55+00:00,DestroVega,Wordle 210 4/6\n\n⬜⬜⬜🟨⬜\n⬜🟩⬜🟨⬜\n⬜🟩⬜🟨⬜\n🟩🟩🟩🟩🟩,4
3,210,1482553436910628866,2022-01-16 03:20:58+00:00,brenmardash,Wordle 210 3/6\n\n⬜⬜🟨⬜⬜\n🟨🟨⬜⬜⬜\n🟩🟩🟩🟩🟩,3
4,210,1482553445726908420,2022-01-16 03:21:00+00:00,KatieHowse2,Wordle 210 3/6\n\n⬛⬛🟨⬛⬛\n🟩🟩🟩⬛⬛\n🟩🟩🟩🟩🟩,3
...,...,...,...,...,...,...
1178449,519,1594492773662871553,2022-11-21 00:47:56+00:00,MaureenLamont,Wordle 519 2/6\n\n⬜🟩🟨🟨⬜\n🟩🟩🟩🟩🟩,2
1178450,519,1594492932115124226,2022-11-21 00:48:33+00:00,Meeshbeer,Wordle 519 3/6\n\n⬜🟨🟩🟨⬜\n⬜🟩🟩🟩🟩\n🟩🟩🟩🟩🟩,3
1178451,519,1594493005192658944,2022-11-21 00:48:51+00:00,BookChickie,Wordle 519 3/6\n\n⬛🟩🟩⬛🟩\n🟩🟩🟩⬛🟩\n🟩🟩🟩🟩🟩,3
1178452,519,1594493051824754689,2022-11-21 00:49:02+00:00,aceynay,Wordle 519 3/6\n\n🟨🟩⬜⬜🟩\n🟩🟩🟩⬜🟩\n🟩🟩🟩🟩🟩\n\nI pla...,3
1178453,519,1594493111606030336,2022-11-21 00:49:16+00:00,thehollyzone,Wordle 519 2/6\n\n🟨🟨⬜⬜🟩\n🟩🟩🟩🟩🟩\n\n⁦@ScoreMyWor...,2

In [4]:
tweets.isnull().sum()

day               0
tweet_id          0
tweet_date        0
tweet_username    0
tweet_text        0
score             0
dtype: int64

In [5]:
words.dropna(inplace=True)
words["day"] = pd.to_numeric(words['day'], errors='coerce')

In [6]:
words.isnull().sum()

word          0
occurrence    0
day           0
dtype: int64

In [7]:
df = pd.merge(words, tweets, on='day')
df.drop(columns=['tweet_id'], inplace=True)
df

,word,occurrence,day,tweet_date,tweet_username,tweet_text,score
0,admit,1.820914e-05,485.0,2022-10-17 16:05:17+00:00,nickdeephoto,Wordle 485 2/6\n\n🟩🟩⬛🟨🟨\n🟩🟩🟩🟩🟩,2
1,admit,1.820914e-05,485.0,2022-10-17 16:05:18+00:00,Green_Mt_Girl,Wordle 485 4/6\n\n⬜⬜⬜🟩⬜\n⬜🟨🟨🟩🟨\n🟨⬜⬜🟩🟩\n🟩🟩🟩🟩🟩,4
2,admit,1.820914e-05,485.0,2022-10-17 16:05:20+00:00,Manab_Deka911,Wordle 485 2/6\n\n🟩⬛⬛🟩🟩\n🟩🟩🟩🟩🟩,2
3,admit,1.820914e-05,485.0,2022-10-17 16:05:23+00:00,Aquagenerian,Wordle 485 3/6\n\n🟨⬛⬛🟨🟨\n🟩⬛⬛🟨⬛\n🟩🟩🟩🟩🟩,3
4,admit,1.820914e-05,485.0,2022-10-17 16:05:54+00:00,grcflwlkr,Wordle 485 4/6\n\n🟩⬜🟩⬜⬜\n⬜🟨⬜⬜🟨\n🟩⬜🟨🟨🟨\n🟩🟩🟩🟩🟩\n...,4
...,...,...,...,...,...,...,...
1178449,zesty,7.402564e-08,319.0,2022-05-05 02:43:24+00:00,KevinAWortman,Wordle 319 2/6\n\n🟨⬜🟨🟨⬜\n🟩🟩🟩🟩🟩,2
1178450,zesty,7.402564e-08,319.0,2022-05-05 02:43:27+00:00,samsjag,Wordle 319 2/6\n\n🟩⬛🟩🟨⬛\n🟩🟩🟩🟩🟩,2
1178451,zesty,7.402564e-08,319.0,2022-05-05 02:43:30+00:00,msghiorso,Wordle 319 3/6\n\n⬜🟨🟨⬜🟨\n🟨⬜⬜🟩🟩\n🟩🟩🟩🟩🟩,3
1178452,zesty,7.402564e-08,319.0,2022-05-05 02:43:32+00:00,katgarber,Wordle 319 5/6\n\n⬜🟨⬜🟨⬜\n🟩⬜🟨🟨⬜\n🟩⬜🟩🟨⬜\n🟩⬜🟩🟩🟩\n...,5
1178453,zesty,7.402564e-08,319.0,2022-05-05 02:43:34+00:00,RichardNobles,Wordle 319 4/6\n\n⬜⬜🟨🟨⬜\n⬜🟨⬜⬜🟨\n⬜🟨🟨🟩🟩\n🟩🟩🟩🟩🟩,4

In [8]:
"""
For the word in each row:

    1. Put the word in lower case
    2. Extract each letter in the word and make it it's own column
    3. Convert to ASCII number using ord() function
    4. subtract 96 to simplify char to number representation (a = 1, b = 2, c = 3, ...)

"""

df["letter_1"] = df["word"].str.lower().str[0].apply(ord) - 96
df["letter_2"] = df["word"].str.lower().str[1].apply(ord) - 96
df["letter_3"] = df["word"].str.lower().str[2].apply(ord) - 96
df["letter_4"] = df["word"].str.lower().str[3].apply(ord) - 96
df["letter_5"] = df["word"].str.lower().str[4].apply(ord) - 96
# df.drop(columns=["word"], inplace=True)
df

,word,occurrence,day,tweet_date,tweet_username,tweet_text,score,letter_1,letter_2,letter_3,letter_4,letter_5
0,admit,1.820914e-05,485.0,2022-10-17 16:05:17+00:00,nickdeephoto,Wordle 485 2/6\n\n🟩🟩⬛🟨🟨\n🟩🟩🟩🟩🟩,2,1,4,13,9,20
1,admit,1.820914e-05,485.0,2022-10-17 16:05:18+00:00,Green_Mt_Girl,Wordle 485 4/6\n\n⬜⬜⬜🟩⬜\n⬜🟨🟨🟩🟨\n🟨⬜⬜🟩🟩\n🟩🟩🟩🟩🟩,4,1,4,13,9,20
2,admit,1.820914e-05,485.0,2022-10-17 16:05:20+00:00,Manab_Deka911,Wordle 485 2/6\n\n🟩⬛⬛🟩🟩\n🟩🟩🟩🟩🟩,2,1,4,13,9,20
3,admit,1.820914e-05,485.0,2022-10-17 16:05:23+00:00,Aquagenerian,Wordle 485 3/6\n\n🟨⬛⬛🟨🟨\n🟩⬛⬛🟨⬛\n🟩🟩🟩🟩🟩,3,1,4,13,9,20
4,admit,1.820914e-05,485.0,2022-10-17 16:05:54+00:00,grcflwlkr,Wordle 485 4/6\n\n🟩⬜🟩⬜⬜\n⬜🟨⬜⬜🟨\n🟩⬜🟨🟨🟨\n🟩🟩🟩🟩🟩\n...,4,1,4,13,9,20
...,...,...,...,...,...,...,...,...,...,...,...,...
1178449,zesty,7.402564e-08,319.0,2022-05-05 02:43:24+00:00,KevinAWortman,Wordle 319 2/6\n\n🟨⬜🟨🟨⬜\n🟩🟩🟩🟩🟩,2,26,5,19,20,25
1178450,zesty,7.402564e-08,319.0,2022-05-05 02:43:27+00:00,samsjag,Wordle 319 2/6\n\n🟩⬛🟩🟨⬛\n🟩🟩🟩🟩🟩,2,26,5,19,20,25
1178451,zesty,7.402564e-08,319.0,2022-05-05 02:43:30+00:00,msghiorso,Wordle 319 3/6\n\n⬜🟨🟨⬜🟨\n🟨⬜⬜🟩🟩\n🟩🟩🟩🟩🟩,3,26,5,19,20,25
1178452,zesty,7.402564e-08,319.0,2022-05-05 02:43:32+00:00,katgarber,Wordle 319 5/6\n\n⬜🟨⬜🟨⬜\n🟩⬜🟨🟨⬜\n🟩⬜🟩🟨⬜\n🟩⬜🟩🟩🟩\n...,5,26,5,19,20,25
1178453,zesty,7.402564e-08,319.0,2022-05-05 02:43:34+00:00,RichardNobles,Wordle 319 4/6\n\n⬜⬜🟨🟨⬜\n⬜🟨⬜⬜🟨\n⬜🟨🟨🟩🟩\n🟩🟩🟩🟩🟩,4,26,5,19,20,25

In [9]:
def inspect_dataframe(input_df):
    print("Data overview:")
    print(input_df.describe(), '\n')

    print("Null counts:")
    print(df.isnull().sum(), '\n')

    print("Duplicate row count:", df.duplicated().sum())

inspect_dataframe(df)

Data overview:
         occurrence           day         score      letter_1      letter_2  \
count  1.178454e+06  1.178454e+06  1.178454e+06  1.178454e+06  1.178454e+06
mean   3.371276e-05  3.475489e+02  4.126197e+00  1.185610e+01  1.173020e+01
std    1.325442e-04  9.180824e+01  1.077497e+00  7.345991e+00  6.420807e+00
min    1.427564e-08  2.100000e+02  2.000000e+00  1.000000e+00  1.000000e+00
25%    4.708097e-07  2.600000e+02  3.000000e+00  5.000000e+00  8.000000e+00
50%    1.811237e-06  3.400000e+02  4.000000e+00  1.300000e+01  1.200000e+01
75%    8.992359e-06  4.260000e+02  5.000000e+00  1.900000e+01  1.600000e+01
max    1.333864e-03  5.190000e+02  6.000000e+00  2.600000e+01  2.500000e+01

           letter_3      letter_4      letter_5
count  1.178454e+06  1.178454e+06  1.178454e+06
mean   1.199378e+01  1.181678e+01  1.309581e+01
std    7.009741e+00  6.749040e+00  7.508834e+00
min    1.000000e+00  1.000000e+00  1.000000e+00
25%    5.000000e+00  5.000000e+00  5.000000e+00
50%    1.400000e+01  1.200000e+01  1.200000e+01
75%    1.800000e+01  1.800000e+01  2.000000e+01
max    2.500000e+01  2.600000e+01  2.500000e+01

Null counts:
word              0
occurrence        0
day               0
tweet_date        0
tweet_username    0
tweet_text        0
score             0
letter_1          0
letter_2          0
letter_3          0
letter_4          0
letter_5          0
dtype: int64

Duplicate row count: 10

In [10]:
# Linear regression model
independent_variables = ['letter_1', 'letter_2', 'letter_3', 'letter_4', 'letter_5']
dependent_variable = 'score'

X = df[independent_variables]
y = df[dependent_variable]

X = sm.add_constant(X)

model = sm.OLS(y, X).fit()
y_pred = model.predict(X) 

results = model.summary()
print(results)

model_RMSE = rmse(y, y_pred)
print('\n', '='*79, '\n')
print( 'Dependent variable "%s" average: ' % dependent_variable, y.mean())
print( 'RMSE:', model_RMSE)

# RSME: average difference between values predicted by a model and the actual values

                            OLS Regression Results
==============================================================================
Dep. Variable:                  score   R-squared:                       0.001
Model:                            OLS   Adj. R-squared:                  0.001
Method:                 Least Squares   F-statistic:                     127.7
Date:                Thu, 14 Nov 2024   Prob (F-statistic):          9.88e-136
Time:                        18:20:39   Log-Likelihood:            -1.7598e+06
No. Observations:             1178454   AIC:                         3.520e+06
Df Residuals:                 1178448   BIC:                         3.520e+06
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          4.0984      0.004    963.635      0.000       4.090       4.107
letter_1      -0.0002      0.000     -1.417      0.156      -0.000    7.34e-05
letter_2       0.0016      0.000     10.076      0.000       0.001       0.002
letter_3      -0.0023      0.000    -16.017      0.000      -0.003      -0.002
letter_4       0.0023      0.000     15.590      0.000       0.002       0.003
letter_5       0.0009      0.000      6.786      0.000       0.001       0.001
==============================================================================
Omnibus:                    53879.970   Durbin-Watson:                   1.849
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            22072.527
Skew:                           0.018   Prob(JB):                         0.00
Kurtosis:                       2.330   Cond. No.                         120.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

 ===============================================================================

Dependent variable "score" average:  4.126196694991913
RMSE: 1.0772045914695492

In [11]:
# Linear regression model (occurrence known)
independent_variables = ['letter_1', 'letter_2', 'letter_3', 'letter_4', 'letter_5', 'occurrence']
dependent_variable = 'score'

X = df[independent_variables]
y = df[dependent_variable]

X = sm.add_constant(X)

model = sm.OLS(y, X).fit()
y_pred = model.predict(X) 

results = model.summary()
print(results)

model_RMSE = rmse(y, y_pred)
print('\n', '='*79, '\n')
print( 'Dependent variable "%s" average: ' % dependent_variable, y.mean())
print( 'RMSE:', model_RMSE)

# RSME: average difference between values predicted by a model and the actual values

                            OLS Regression Results
==============================================================================
Dep. Variable:                  score   R-squared:                       0.001
Model:                            OLS   Adj. R-squared:                  0.001
Method:                 Least Squares   F-statistic:                     107.3
Date:                Thu, 14 Nov 2024   Prob (F-statistic):          1.00e-135
Time:                        18:20:41   Log-Likelihood:            -1.7598e+06
No. Observations:             1178454   AIC:                         3.520e+06
Df Residuals:                 1178447   BIC:                         3.520e+06
Df Model:                           6
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          4.0979      0.004    962.303      0.000       4.090       4.106
letter_1      -0.0002      0.000     -1.421      0.155      -0.000    7.29e-05
letter_2       0.0016      0.000      9.937      0.000       0.001       0.002
letter_3      -0.0023      0.000    -16.031      0.000      -0.003      -0.002
letter_4       0.0023      0.000     15.625      0.000       0.002       0.003
letter_5       0.0009      0.000      6.846      0.000       0.001       0.001
occurrence    16.7055      7.503      2.226      0.026       1.999      31.412
==============================================================================
Omnibus:                    53882.416   Durbin-Watson:                   1.849
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            22072.518
Skew:                           0.017   Prob(JB):                         0.00
Kurtosis:                       2.330   Cond. No.                     2.11e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.11e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

 ===============================================================================

Dependent variable "score" average:  4.126196694991913
RMSE: 1.077202325907904

In [12]:
# Linear regression model

independent_variables = ['letter_1', 'letter_2', 'letter_3', 'letter_4', 'letter_5']
dependent_variable = 'score'

X = df[independent_variables]
y = df[dependent_variable]

X = sm.add_constant(X)

model = sm.OLS(y, X).fit()
y_pred = model.predict(X) 

results = model.summary()
print(results)

model_RMSE = rmse(y, y_pred)
print('\n', '='*79, '\n')
print( 'Dependent variable "%s" average: ' % dependent_variable, y.mean())
print( 'RMSE:', model_RMSE)

# RSME: average difference between values predicted by a model and the actual values

                            OLS Regression Results
==============================================================================
Dep. Variable:                  score   R-squared:                       0.001
Model:                            OLS   Adj. R-squared:                  0.001
Method:                 Least Squares   F-statistic:                     127.7
Date:                Thu, 14 Nov 2024   Prob (F-statistic):          9.88e-136
Time:                        18:20:42   Log-Likelihood:            -1.7598e+06
No. Observations:             1178454   AIC:                         3.520e+06
Df Residuals:                 1178448   BIC:                         3.520e+06
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          4.0984      0.004    963.635      0.000       4.090       4.107
letter_1      -0.0002      0.000     -1.417      0.156      -0.000    7.34e-05
letter_2       0.0016      0.000     10.076      0.000       0.001       0.002
letter_3      -0.0023      0.000    -16.017      0.000      -0.003      -0.002
letter_4       0.0023      0.000     15.590      0.000       0.002       0.003
letter_5       0.0009      0.000      6.786      0.000       0.001       0.001
==============================================================================
Omnibus:                    53879.970   Durbin-Watson:                   1.849
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            22072.527
Skew:                           0.018   Prob(JB):                         0.00
Kurtosis:                       2.330   Cond. No.                         120.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

 ===============================================================================

Dependent variable "score" average:  4.126196694991913
RMSE: 1.0772045914695492

In [13]:
words = pd.read_csv("wordle.csv")

In [27]:
def predict_score (word, base=None, power=None):
    
    df = pd.DataFrame()
    df["word"] = [ word ]
    df["const"] = 1.0
    
    df["letter_1"] = df["word"].str.lower().str[0].apply(ord) - 96
    df["letter_2"] = df["word"].str.lower().str[1].apply(ord) - 96
    df["letter_3"] = df["word"].str.lower().str[2].apply(ord) - 96
    df["letter_4"] = df["word"].str.lower().str[3].apply(ord) - 96
    df["letter_5"] = df["word"].str.lower().str[4].apply(ord) - 96
    
    df.drop(columns=["word"], inplace=True)
    # Calculate weight of word frequency towards score if it is known
    occurrence_weight = (16.7055 * (base * (10 ** power))) if (base != None and power != None) else 0

    return 4.0984   + (-0.0002 * df["letter_1"]) \
                    + (0.0016 * df["letter_2"]) \
                    + (-0.0023 * df["letter_3"]) \
                    + (0.0023 * df["letter_4"]) \
                    + (0.0009 * df["letter_5"]) + occurrence_weight

In [21]:
averages = df.groupby("word", as_index=False)['score'].mean()
averages

      word     score
0    admit  3.697055
1    agape  4.025042
2    agora  4.079151
3    ahead  3.814139
4    album  4.235260
..     ...       ...
301  woven  3.843087
302  wrung  4.246919
303  yield  4.059162
304  youth  4.138001
305  zesty  3.270700

[306 rows x 2 columns]

In [26]:
def get_scores(word, base=None, power=None):
    
    prediction = predict_score (word, base, power) [0]

    # If word isn't found in tweet data, None is returned for the average score
    average = None
    if word in averages["word"].values:
        average = averages[averages["word"] == word]["score"][0]

    return prediction, average

word = "zygon"
base = 1.448293
power = -9
prediction, average = get_scores(word, base, power)

print(f"Word: {word}\n")
print("Predicted score via linear regression: \t{:0.2f}".format(prediction))
# Print average score according to tweet data if the word exists in it
print(("No data found for this word in tweet data." if average == None else "Average score via tweet data: \t\t{:0.2f}".format(average)))

Word: zygon

Predicted score via linear regression: 	4.16
No data found for this word in tweet data.