In [12]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pickle

from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error, root_mean_squared_error, r2_score

from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor

from sklearn import tree
from sklearn.tree import plot_tree, export_text

from sklearn.model_selection import GridSearchCV,RandomizedSearchCV

In [13]:
tweets = pd.read_csv("data/tweets.zip")
words = pd.read_csv("data/words_freq.csv")

In [14]:
max(words["occurrence"])

0.0024305603723041

In [15]:
tweets["score"] = tweets["tweet_text"].str[11]
tweets["score"] = pd.to_numeric(tweets['score'], errors='coerce')
tweets.rename(columns={"wordle_id": "day"}, inplace=True)
tweets

,day,tweet_id,tweet_date,tweet_username,tweet_text,score
0,210,1482553374591660037,2022-01-16 03:20:43+00:00,bpszebes,Wordle 210 4/6\n\n⬛⬛🟨🟨⬛\n🟩⬛⬛⬛⬛\n🟩🟩🟨⬛⬛\n🟩🟩🟩🟩🟩,4
1,210,1482553387937898499,2022-01-16 03:20:46+00:00,cruisecoup,Wordle 210 4/6\n\n⬜⬜⬜⬜⬜\n🟩🟩🟨🟨⬜\n🟩🟩⬜🟩🟨\n🟩🟩🟩🟩🟩,4
2,210,1482553422276698113,2022-01-16 03:20:55+00:00,DestroVega,Wordle 210 4/6\n\n⬜⬜⬜🟨⬜\n⬜🟩⬜🟨⬜\n⬜🟩⬜🟨⬜\n🟩🟩🟩🟩🟩,4
3,210,1482553436910628866,2022-01-16 03:20:58+00:00,brenmardash,Wordle 210 3/6\n\n⬜⬜🟨⬜⬜\n🟨🟨⬜⬜⬜\n🟩🟩🟩🟩🟩,3
4,210,1482553445726908420,2022-01-16 03:21:00+00:00,KatieHowse2,Wordle 210 3/6\n\n⬛⬛🟨⬛⬛\n🟩🟩🟩⬛⬛\n🟩🟩🟩🟩🟩,3
...,...,...,...,...,...,...
1178449,519,1594492773662871553,2022-11-21 00:47:56+00:00,MaureenLamont,Wordle 519 2/6\n\n⬜🟩🟨🟨⬜\n🟩🟩🟩🟩🟩,2
1178450,519,1594492932115124226,2022-11-21 00:48:33+00:00,Meeshbeer,Wordle 519 3/6\n\n⬜🟨🟩🟨⬜\n⬜🟩🟩🟩🟩\n🟩🟩🟩🟩🟩,3
1178451,519,1594493005192658944,2022-11-21 00:48:51+00:00,BookChickie,Wordle 519 3/6\n\n⬛🟩🟩⬛🟩\n🟩🟩🟩⬛🟩\n🟩🟩🟩🟩🟩,3
1178452,519,1594493051824754689,2022-11-21 00:49:02+00:00,aceynay,Wordle 519 3/6\n\n🟨🟩⬜⬜🟩\n🟩🟩🟩⬜🟩\n🟩🟩🟩🟩🟩\n\nI pla...,3
1178453,519,1594493111606030336,2022-11-21 00:49:16+00:00,thehollyzone,Wordle 519 2/6\n\n🟨🟨⬜⬜🟩\n🟩🟩🟩🟩🟩\n\n⁦@ScoreMyWor...,2

In [16]:
tweets.isnull().sum()

day               0
tweet_id          0
tweet_date        0
tweet_username    0
tweet_text        0
score             0
dtype: int64

In [17]:
words.dropna(inplace=True)
words["day"] = pd.to_numeric(words['day'], errors='coerce')

In [18]:
words.isnull().sum()

word          0
occurrence    0
day           0
dtype: int64

In [19]:
df = pd.merge(words, tweets, on='day')
df.drop(columns=['tweet_id'], inplace=True)
df

,word,occurrence,day,tweet_date,tweet_username,tweet_text,score
0,admit,1.820914e-05,485.0,2022-10-17 16:05:17+00:00,nickdeephoto,Wordle 485 2/6\n\n🟩🟩⬛🟨🟨\n🟩🟩🟩🟩🟩,2
1,admit,1.820914e-05,485.0,2022-10-17 16:05:18+00:00,Green_Mt_Girl,Wordle 485 4/6\n\n⬜⬜⬜🟩⬜\n⬜🟨🟨🟩🟨\n🟨⬜⬜🟩🟩\n🟩🟩🟩🟩🟩,4
2,admit,1.820914e-05,485.0,2022-10-17 16:05:20+00:00,Manab_Deka911,Wordle 485 2/6\n\n🟩⬛⬛🟩🟩\n🟩🟩🟩🟩🟩,2
3,admit,1.820914e-05,485.0,2022-10-17 16:05:23+00:00,Aquagenerian,Wordle 485 3/6\n\n🟨⬛⬛🟨🟨\n🟩⬛⬛🟨⬛\n🟩🟩🟩🟩🟩,3
4,admit,1.820914e-05,485.0,2022-10-17 16:05:54+00:00,grcflwlkr,Wordle 485 4/6\n\n🟩⬜🟩⬜⬜\n⬜🟨⬜⬜🟨\n🟩⬜🟨🟨🟨\n🟩🟩🟩🟩🟩\n...,4
...,...,...,...,...,...,...,...
1178449,zesty,7.402564e-08,319.0,2022-05-05 02:43:24+00:00,KevinAWortman,Wordle 319 2/6\n\n🟨⬜🟨🟨⬜\n🟩🟩🟩🟩🟩,2
1178450,zesty,7.402564e-08,319.0,2022-05-05 02:43:27+00:00,samsjag,Wordle 319 2/6\n\n🟩⬛🟩🟨⬛\n🟩🟩🟩🟩🟩,2
1178451,zesty,7.402564e-08,319.0,2022-05-05 02:43:30+00:00,msghiorso,Wordle 319 3/6\n\n⬜🟨🟨⬜🟨\n🟨⬜⬜🟩🟩\n🟩🟩🟩🟩🟩,3
1178452,zesty,7.402564e-08,319.0,2022-05-05 02:43:32+00:00,katgarber,Wordle 319 5/6\n\n⬜🟨⬜🟨⬜\n🟩⬜🟨🟨⬜\n🟩⬜🟩🟨⬜\n🟩⬜🟩🟩🟩\n...,5
1178453,zesty,7.402564e-08,319.0,2022-05-05 02:43:34+00:00,RichardNobles,Wordle 319 4/6\n\n⬜⬜🟨🟨⬜\n⬜🟨⬜⬜🟨\n⬜🟨🟨🟩🟩\n🟩🟩🟩🟩🟩,4

In [20]:
freqs = pd.read_csv("data/letter-frequencies.csv")
freqs = freqs[["Letter", "English"]]
freqs = freqs["English"].tolist()
freqs

[8.167,
 1.492,
 2.782,
 4.253,
 12.702,
 2.288,
 2.015,
 6.094,
 6.966,
 0.153,
 0.772,
 4.025,
 2.406,
 6.749,
 7.507,
 1.929,
 0.095,
 5.987,
 6.327,
 9.056,
 2.758,
 0.978,
 2.36,
 0.15,
 1.974,
 0.074]

In [21]:
"""
For the word in each row:

    1. Put the word in lower case
    2. Extract each letter in the word and make it it's own column
    3. Convert to ASCII number using ord() function
    4. subtract 97 to simplify char to number representation (a = 0, b = 1, c = 2, ...)
    5. Get corresponding frequency using this number as index

"""

df["letter_1"] = df["word"].str.lower().str[0].apply(ord) - 97
df["letter_2"] = df["word"].str.lower().str[1].apply(ord) - 97
df["letter_3"] = df["word"].str.lower().str[2].apply(ord) - 97
df["letter_4"] = df["word"].str.lower().str[3].apply(ord) - 97
df["letter_5"] = df["word"].str.lower().str[4].apply(ord) - 97
# df.drop(columns=["word"], inplace=True)

df["freq"] = freqs[df["letter_1"][0]] + freqs[df["letter_2"][0]] + freqs[df["letter_3"][0]] + freqs[df["letter_4"][0]] +freqs[df["letter_5"][0]]

In [22]:
def inspect_dataframe(input_df):
    print("Data overview:")
    print(input_df.describe(), '\n')

    print("Null counts:")
    print(df.isnull().sum(), '\n')

    print("Duplicate row count:", df.duplicated().sum())

inspect_dataframe(df)

Data overview:
         occurrence           day         score      letter_1      letter_2  \
count  1.178454e+06  1.178454e+06  1.178454e+06  1.178454e+06  1.178454e+06
mean   3.371276e-05  3.475489e+02  4.126197e+00  1.085610e+01  1.073020e+01
std    1.325442e-04  9.180824e+01  1.077497e+00  7.345991e+00  6.420807e+00
min    1.427564e-08  2.100000e+02  2.000000e+00  0.000000e+00  0.000000e+00
25%    4.708097e-07  2.600000e+02  3.000000e+00  4.000000e+00  7.000000e+00
50%    1.811237e-06  3.400000e+02  4.000000e+00  1.200000e+01  1.100000e+01
75%    8.992359e-06  4.260000e+02  5.000000e+00  1.800000e+01  1.500000e+01
max    1.333864e-03  5.190000e+02  6.000000e+00  2.500000e+01  2.400000e+01

           letter_3      letter_4      letter_5          freq
count  1.178454e+06  1.178454e+06  1.178454e+06  1.178454e+06
mean   1.099378e+01  1.081678e+01  1.209581e+01  3.084800e+01
std    7.009741e+00  6.749040e+00  7.508834e+00  3.907987e-14
min    0.000000e+00  0.000000e+00  0.000000e+00  3.084800e+01
25%    4.000000e+00  4.000000e+00  4.000000e+00  3.084800e+01
50%    1.300000e+01  1.100000e+01  1.100000e+01  3.084800e+01
75%    1.700000e+01  1.700000e+01  1.900000e+01  3.084800e+01
max    2.400000e+01  2.500000e+01  2.400000e+01  3.084800e+01

Null counts:
word              0
occurrence        0
day               0
tweet_date        0
tweet_username    0
tweet_text        0
score             0
letter_1          0
letter_2          0
letter_3          0
letter_4          0
letter_5          0
freq              0
dtype: int64

Duplicate row count: 10

In [23]:
independent_variables = ['letter_1', 'letter_2', 'letter_3', 'letter_4', 'letter_5', 'freq']
dependent_variable = 'score'

X = df[independent_variables]
y = df[dependent_variable]

X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y, test_size=0.2)
print('Shape of our X_train data:', X_train.shape, '\nShape of our y_test data:', y_test.shape)

KeyboardInterrupt:

In [ ]:
model = RandomForestRegressor(oob_score=True)

model.fit(X_train, y_train)

oob_score = model.oob_score_
print(f'Out-of-bag score: {oob_score}')

# Model evaluation
y_pred = model.predict(X_test)

mae = mean_absolute_error(y_test, y_pred)
print(f'Mean absolute error: {mae}')

mse = mean_squared_error(y_test, y_pred)
print(f'Mean squared error: {mse}')

rmse = root_mean_squared_error(y_test, y_pred)
print(f'Root mean squared error: {mse}')

r2 = r2_score(y_test, y_pred)
print(f'R-squared: {r2}')

In [ ]:
params = {
    'max_depth': [5, 10, 15], 
    'max_leaf_nodes': [5, 10, 15],
    'min_samples_split': [2, 3, 4],
    'min_samples_leaf': [1, 2, 3]
}

In [ ]:
grid_search_cv =  GridSearchCV(RandomForestRegressor(), param_grid=params, scoring="neg_mean_squared_error")
# grid_search_cv.fit(X_train, y_train)

In [24]:
filename = 'wordle_prediction.pkl'
# pickle.dump(model, open(filename, 'wb'))
model = pickle.load(open(filename, 'rb'))

In [44]:
def predict_score(word):

    if (not word.isalpha() or len(word) != 5):
        raise Exception(
            "Invalid word format. Please enter a five letter word using only alphabetic characters.")

    df = pd.DataFrame()
    df["word"] = [word]
    df["letter_1"] = df["word"].str.lower().str[0].apply(ord) - 97
    df["letter_2"] = df["word"].str.lower().str[1].apply(ord) - 97
    df["letter_3"] = df["word"].str.lower().str[2].apply(ord) - 97
    df["letter_4"] = df["word"].str.lower().str[3].apply(ord) - 97
    df["letter_5"] = df["word"].str.lower().str[4].apply(ord) - 97

    df["freq"] =    freqs[df["letter_1"][0]] + \
                    freqs[df["letter_2"][0]] + \
                    freqs[df["letter_3"][0]] + \
                    freqs[df["letter_4"][0]] + \
                    freqs[df["letter_5"][0]]

    df.drop(columns=["word"], inplace=True)
    return model.predict(df)

averages = df.groupby("word", as_index=False)['score'].mean()
word = "treat"

prediction = predict_score(word)

# If word isn't found in tweet data, None is returned for the average score
average = None
if word in averages["word"].values:
    average = averages[averages["word"] == word]["score"].item()

st.subheader(f"Results for '{word}':")
st.markdown("**🌳 Predicted average score via random forests:** \t{:0.2f}".format(prediction[0]))

# Print average score according to tweet data if the word exists in it
st.markdown(("**𝕏 No data found for this word in tweet data.**" if average == None \
else "**𝕏 Average score via tweet data:** \t\t\t{:0.2f}".format(average)))

Results for 'treat':
**🌳 Predicted average score via random forests:** 	4.17
**𝕏 No data found for this word in tweet data.**

In [60]:
        countries = {
            "Idaho":4.02,
            "Washington":3.88,
            "Oregon":3.94,
            "Colorado":3.91,
            "Nevada":4.13,
            "Utah":3.91,
            "California":3.90,
            "Alaska":4.22,
            "Arizona":3.95,
            "Hawaii":4.12,
            "Kansas":3.93,
            "Oklahoma":3.92,
            "Texas":3.92,
            "New Mexico":4.05,
            "Missouri":3.92,
            "Arkansas":3.86,
            "Louisiana":3.93,
            "Mississippi":4.06,
            "Alabama":3.81,
            "Tennessee":3.89,
            "Georgia":3.92,
            "South Carolina":4.02,
            "Kentucky":3.93,
            "Florida":3.97,
            "North Carolina":4.01,
            "Virginia":3.95,
            "Maryland":3.86,
            "Delaware":3.70,
            "New Jersey":3.97,
            "New York":3.84,
            "Massachusetts":3.91,
            "Rhode Island":3.99,
            "New Hampshire": 3.73,
            "Maine":4.04,
            "Vermont":3.83,
            "Indiana":3.91,
            "Pennsylvania":3.91,
            "Connecticut":3.87,
            "West Virginia":3.97,
            "Ohio":3.94,
            "Michigan":3.97,
            "Wisconsin":4.08,
            "Minnesota":3.83,
            "North Dakota":3.65,
            "Illinois":3.88,
            "Iowa":3.89,
            "Nebraska":4.22,
            "South Dakota":3.79,
            "Wyoming":4.00,
            "Montana":4.08
        }
len(countries)

50

In [61]:
df = pd.DataFrame.from_dict(countries, orient="index")

In [62]:
df.to_csv("data/states.csv")